{{ if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
#!/bin/sh

PROXY_DIR=${ZDOTDIR:-~/.config/zsh}/wsl2-ssh-agent-proxy
mkdir -p ${PROXY_DIR}
TARGET_SCRIPT=${PROXY_DIR}/ubuntu.wsl2-ssh-agent-proxy.sh

curl -sL https://raw.githubusercontent.com/masahide/OmniSSHAgent/refs/heads/main/hack/ubuntu.wsl2-ssh-agent-proxy.sh -o ${PROXY_DIR}/ubuntu.wsl2-ssh-agent-proxy.sh
chmod +x ${TARGET_SCRIPT}

sed -i "s|PROXYCMD_DIR=\"\${HOME}/\${NAME}\"|PROXYCMD_DIR=\"\${ZDOTDIR:-~/.config/zsh}/\${NAME}\"|g" ${TARGET_SCRIPT}

sed -i '/(ps aux | grep "${CMD}" | grep -qv "grep") && \[ -S "${SSH_AUTH_SOCK}" \] && return/c\
  if (ps aux | grep "${CMD}" | grep -qv "grep") \&\& [ -S "${SSH_AUTH_SOCK}" ]; then\
    ssh-add -l > /dev/null 2>\&1 \&\& return\
    pkill -f "${CMD}"\
    rm -f "${SSH_AUTH_SOCK}"\
  fi' ${TARGET_SCRIPT}

touch ${PROXY_DIR}/wsl2-ssh-agent-proxy.log
{{ end -}}
